%text_block_next_to_image {
  padding: 35px $bodyPadding1 20px;

  background-color: $white;
  color: inherit;

  @include respond-to(tablet) {
    position: absolute;
    right: 0;
    top: 0;
    padding: 35px $bodyPadding1;
    height: 100%;
    width: 50%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include respond-to(desktop) {
    padding: 100px 7vw;
    width: 42.5%;
  }
}

%imageSize {
  position: relative;
  padding-bottom: 80%;
  width: 100%;
  height: 0;

  @include respond-to(tablet) {
    padding-bottom: 56%;
  }

  @include respond-to(desktop) {
    padding-bottom: 48%;
  }
}

%imageSizeHalf {
  position: relative;
  padding-bottom: 40%;
  width: 100%;
  height: 0;

  @include respond-to(tablet) {
    padding-bottom: 28%;
  }

  @include respond-to(desktop) {
    padding-bottom: 24%;
  }
}

%imageInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%videoSize {
  position: relative;
  padding-top: 86%;

  @include respond-to(tablet) {
    padding-top: 58%;
  }

  @include respond-to(desktop) {
    padding-top: 54%;
  }
}

%videoSizeHalf {
  position: relative;
  padding-top: 43%;

  @include respond-to(tablet) {
    padding-top: 29%;
  }

  @include respond-to(desktop) {
    padding-top: 27%;
  }
}

%useBackgroundGraphicLeft {
  background-image: url("../statics/images/svg/cta-background-left.svg");
  background-size: contain;
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

%useBackgroundGraphicRight {
  background-image: url("../statics/images/svg/cta-background-right.svg");
  background-size: contain;
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

%useBackgroundQuotationMarks_GreenPale {
  background-image: url("../statics/images/svg/quotation-marks_green-pale.svg");
  background-size: contain;
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

%useLoadMoreButtonStyle {
  margin: 0 auto 75px;

  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.42;
  letter-spacing: normal;
  text-align: center;
  color: $green-pale-100;
  text-transform: uppercase;

  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: $green-pale-100;
  }
}

%useButtonLight {
    color: $white;
    border-color: $white;
}

%useButtonSolid {
  color: $white;
  background-color: $green-medium-100;
  border-color: $green-medium-100;

  padding: 1.5px 30px;

  &:hover {
    color: $white;
    background-color: $green-medium-100;
    border-color: $green-medium-100;
    opacity: 0.8;
  }
}

%useButtonSearchIcon {
  &:before {
    font-family: $font-icon;
    content: '\f002';
    color: $white;
    margin-left: -10px;
    margin-right: 15px;
  }
}

%useAlignmentStyle {
  // intro alignment
  &.align-left {
    text-align: left;
  }
  &.align-center {
    text-align: center;
  }
  &.align-right {
    text-align: right;
  }
}

%useColorComboStyle {
  // intro colour combos
  &.color-combo-color1, .color-combo-color1 * {
    background-color: $grey-blue-100;
    color: $white;
  }
  &.color-combo-color2, .color-combo-color2 * {
    background-color: $grey-blue-100;
    color: $green-medium-100;
  }
  &.color-combo-color3, .color-combo-color3 * {
    background-color: $grey-blue-100;
    color: $green-pale-100;
  }
  &.color-combo-color4, .color-combo-color4 h2 {
    background-color: $green-medium-100;
    color: $white;
  }
  &.color-combo-color5, .color-combo-color5 * {
    background-color: $green-medium-100;
    color: $grey-blue-100;
  }
  &.color-combo-color6, .color-combo-color6 * {
    background-color: $green-medium-100;
    color: $green-pale-100;
  }
  &.color-combo-color7, .color-combo-color7 * {
    background-color: $green-pale-100;
    color: $white;
  }
  &.color-combo-color8, .color-combo-color8 * {
    background-color: $green-pale-100;
    color: $grey-blue-100;
  }
  &.color-combo-color9, .color-combo-color9 * {
    background-color: $green-pale-100;
    color: $green-medium-100;
  }
  &.color-combo-color10, .color-combo-color10 * {
    background-color: $white;
    color: $grey-blue-100;
  }
  &.color-combo-color11, .color-combo-color11 * {
    background-color: $white;
    color: $green-medium-100;
  }
  &.color-combo-color12, .color-combo-color12 * {
    background-color: $white;
    color: $green-pale-100;
  }
}

%useMainContentPositioning {
    &.content-position-top {
        @include useRemoveHeaderHeight(margin-top);
    }
    &.content-position-after {
        position: relative;
    }
}

%useCentredIntroParagraphs {
    max-width: 780px;
    margin: 0 auto;
}

%useSectionBottomPadding {
    &.bottom-padding-no {
        padding-bottom: 5px;
    }
}