$zIndexMenuContainer: 998;
$zIndexMenuOverlay: 997;

header#header-style-1 {
  z-index: $zIndexMenuContainer;

  .torque-header-content-wrapper {
    // logo container
    .torque-header-logo-wrapper {
      padding-left: $bodyPadding1;
    }

    // menu container
    .torque-header-burger-menu-wrapper {
      @include respond-to(desktop) {
        display: inline-block;
      }
    }

    .torque-header-menu-items-inline-wrapper {
      @include respond-to-max(desktop) {
        display: inline-block;
      }
    }
  }

  .torque-header-menu-items-mobile {
    left: unset;
    right: 0;

    width: auto;
    max-width: 100%;

    z-index: $zIndexMenuContainer;

    @include respond-to(desktop) {
      display: inline-block;
    }

    svg {
      @include respond-to-max(tablet) {
        min-height: 70px;
      }
    }

    svg.diagonal-top {
      display: block;
      width: 100%;
      height: 8vw;
      polygon {
        fill: $green-pale-100;
      }
      @include respond-to(desktop) {
        height: 7vw;
      }
    }
    svg.diagonal-bottom {
      display: block;
      width: 100%;
      height: 10vw;
      polygon {
        fill: $green-pale-100;
      }
      @include respond-to(desktop) {
        height: 9vw;
      }
    }

    .torque-menu-items-stacked {
      background-color: $green-pale-100;

      @include respond-to-max(tablet) {
        padding: 5% 0;
      }

      .torque-menu-item-wrapper {
        margin: 0 $bodyPadding1 0 $bodyPadding1;
        text-align: right;

        .torque-menu-item {
          color: $grey-blue-100;
          font-family: $font-menu;
          font-weight: bold;
          font-size: 2.5em;
          padding: 14px 0;
          transition: 0.2s;

          @include respond-to-max(tablet) {
            font-size: 2.2em;
            padding: 8px 0;
          }

          &:hover {
            color: $grey-blue-80;
          }
        }
      }
    }
  }
}

.menu-overlay {
  opacity: 0;
  transition: 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-colour-overlay;
  z-index: $zIndexMenuOverlay;
}
