/**
 * IMPORTANT NOTE: 
 *  url only needs '../' and NOT '../../', because this file is imported into;
 *  _typography.scss, and then _main.scss, therefore path is relative to _main.scss...
 */
@font-face {
  font-family: 'Gotham';
  src: url('../statics/fonts/GothamBoldRegular/GothamBoldRegular.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Chap';
  src: url('../statics/fonts/ChapRegular/ChapRegular.otf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}