.listing-title-wrapper {

  box-sizing: border-box;

  padding: 55px $bodyPadding1 20px;
  width: 100%;

  text-align: center;

  &.hide-on-desktop {
    @extend %hideOnDesktop;
  }
  &.hide-on-tablet {
    @extend %hideOnTablet;
  }
  &.hide-on-mobile {
    @extend %hideOnMobile;
  }

  h2 {
    margin: 0 auto;
  }

  img {
    width: 320px;
    max-width: 100%;
    height: auto;
  }
}

.featured-image-size {
  @extend %imageSize;

  padding-bottom: 56%;

  @include respond-to-max(tablet) {
    order: 1;
  }

  @include respond-to(desktop) {
    padding-bottom: 45%;
  }

  .featured-image {
    @extend %imageInner;
  }
}

.torque-slideshow-react-entry {
  width: 100%;
}
