#header-search {
  @include useHeaderHeight(margin-top);

  padding: 0 $bodyPadding1 20px;

  background-color: $white;

  .content-wrapper {
    margin: 0 auto;
    max-width: 775px;

    h2 {
      margin-top: 15px;

      // color: $green-medium-100;
      text-transform: uppercase;

      text-align: center;

      @include respond-to(desktop) {
        margin-bottom: 25px;
      }
    }

    .search-form-search-wrapper {
      text-align: center;
      display: block;
      width: 100%;
      margin: 10px auto;

      form {
        display: inline-block;
        width: 100%;

        input#search {
          @extend %inputSearchField;
  
          width: 60%;
          float: left;
        }
  
        button {
          float: left;
          width: 40%;
          padding: 4.5px 30px;

          @include respond-to-max(tablet) {
              margin-top: 15px;
              min-width: 100%;
              float: none;
          }
        }

      }
    }

    .search-form-results {
        font-weight:700;
    }
  }
}
