.staff-title-section {

  display: flex;
  flex-wrap: wrap;

  padding: 60px $bodyPadding1 60px;

  @include respond-to(desktop) {
    padding: 80px 9vw;
  }

  .staff-image-container {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 25px;

    @include respond-to(desktop) {
      max-width: 40%;
      width: 100%;
      height: auto;
    }

    .featured-image {
      max-width: 400px !important;
      width: 100% !important;
      height: 100% !important;
  
      object-fit: cover;
      object-position: center top;

      transition: all 0.2s ease 0s;

      @include respond-to(tablet) {
        max-height: 400px;
      }
  
      @include respond-to(desktop) {
        max-height: 780px;
      }
    }
    
  }

  .staff-detail {
    position: relative;

    @include respond-to-max(desktop) {
      width: 100%;
      padding: 0;
      text-align: center;
    }
    @include respond-to(desktop) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1 1 55%;
      padding-left: 5%;
    }
  }

  h2 {
    margin: 10px 0 5px;
  }

  .staff-roles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-bottom: 10px;
    
    @include respond-to(desktop) {
      justify-content: flex-start;
    }


    .staff-role {
      margin-right: 15px;

      font-size: 13px;
      font-weight: 500;
      color: $green-medium-100;
      text-transform: uppercase;

      @include respond-to(tablet) {
        margin-bottom: 5px;
        font-size: 17px;
      }

      @include respond-to(desktop) {
        font-size: 17px;
      }
    }
  }

  .staff-navigation {

    @include respond-to(tablet) {
      margin-bottom: 0;
      margin-top: auto;

    }
    @include respond-to-max(desktop) {
      margin-top: 35px;
    }

    .nav-link {
      color: $green-pale-100;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: underline;

      @include respond-to-max(desktop) {
        font-size: 17px;
      }

      &.end-of-the-line {
        cursor: not-allowed;
        color: $green-pale-40;
      }

      &.nav-link-previous {
        float: left;
      }

      &.nav-link-next {
        float: right;
      }
    }
  }
}
