.careers-form {
  padding: 30px $bodyPadding1;

  color: $green-medium-100;

  @include respond-to(tablet) {
    padding: 60px $bodyPadding1;
  }

  @include respond-to(desktop) {
    padding: 80px $bodyPadding1;
  }

  h3 {
    margin: 0 auto 35px;
    max-width: 780px;
    text-align: center;

    color: $grey-dark-100;
  }

  .form-message {
    margin: 0 auto 20px;
    max-width: 750px;

    font-weight: bold;

    &.error {
      color: $red-error-100;
    }
  }

  form {
    margin: 0 auto;
    max-width: 780px;

    .input-wrapper {
      display: inline-block;

      width: 100%;
      margin-bottom: 5px;

      &.half-width {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        
        @include respond-to(desktop) {
          float: left;
          width: 49%;
  
          &.first-col {
            margin-right: 1%;
          }
          &.second-col {
            margin-left: 1%;
          }
        }
      }

      &.second-section-start {
        margin-top: 35px;
      }

      &.submit-btn {
        @include respond-to-max(tablet) {
          text-align: center;
        }
      }
    }

    label {
      width: auto;
      
      font-size: 0.9em;
      font-weight: bold;
      
      text-transform: uppercase;
    }

    input,
    textarea {
      @extend %formFieldsGreen;
    }

    textarea {
      height: 150px;
    }

    .file-picker-container {
      position: relative;

      label:not(.standin-upload-btn) {
        width: auto;
        font-size: 0.9em;
        font-weight: bold;
        text-transform: uppercase;
      }

      .file-input-text {
        @extend %formFieldsGreen;

        &.placeholder {
          color: $grey-dark-40;
          font-style: italic;
        }
      }

      input[type="file"] {
        // needs to be displayed, for validation purposes... hence opacity: 0
        position: absolute;
        left: 0;
        top: 26px;
        opacity: 0;
      }

      label.standin-upload-btn {
        background: $green-medium-100;
        color: $white;
        padding: 7.5px 30px;
        position: absolute;
        top: 30px;
        right: 0;
        cursor: pointer;

        @include respond-to-max(tablet) {
          padding: 8.5px 30px;
          top: 25px;
        }
      }
    }

    button[type="submit"] {
      margin-top: 15px;

      &:after {
        background: $white;
      }
    }
  }
}
