.listing-content-wrapper {
  display: flex;
  flex-wrap: wrap;

  .listing-content-details {
    padding: 0 $bodyPadding1 25px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @include respond-to(tablet) {
      width: 75%;
    }

    @include respond-to(desktop) {
      width: 80%;
    }

    .the-content {
      margin-bottom: 20px;
      text-align: center;
    }

    ul.key-details-wrapper {
      text-align: center;

      list-style: none;

      width: 100%;
      padding: 25px 0;
      margin: 0 auto;

      li.key-detail {
        padding: 2px 0;

        .key-detail-name {
          font-weight: bold;
        }

        .key-detail-value {
          margin-left: 8px;
        }
      }
    }

    .cta-wrapper {
      text-align: center;
      margin: 40px auto 30px;

      button {
        margin: 0 auto;

        &:after {
          background-color: $white;
        }
      }
    }
  }
}

.listing-extra-modules-wrapper {
  .cta-section-container {
    margin-top: 5vw;
  }
}
