.properties-gallery-grid-wrapper {

    @include respond-to(desktop) {
        margin-top: -300px;
    }

    .grid-image {
        .caption-overlay {
            font-size: 1.1em;
            flex-direction: column;
            text-align: center;
            
            @include respond-to(tablet) {
                font-size: 1.2em;
            }

            @include respond-to(desktop) {
                font-size: 1.4em;
            }
        }

        .title {
            font-size: 22px;
        }
        
        .location {
            font-size: 18px;
            
            .city, .state {
                display: inline-block;
            }

        }

        .cta {
            font-size: 17px;
            text-decoration: underline;

            margin-top: 20px;
            color: $green-pale-100;

            @include respond-to-max(desktop) {
                display: none;
            }
        }
    }
}