.search-loop-wrapper {
  margin: 0 auto;
  padding: 40px $bodyPadding1;
  max-width: 775px;

  @include respond-to(tablet) {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .search-loop {
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid $grey-dark-40;

    display: inline-block;
    width: 100%;

    .search-result-image-wrapper {
      float: left;
      width: 25%;
      overflow: hidden;

      @include respond-to(desktop) {
        height: 178px;

        a {
          position: relative;
          left: 0;
          display: inline-block;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      @include respond-to-max(desktop) {
        float: none;
        width: 100%;
        height: 200px;

        a {
          display: inline-block;
          width: 100%;
          transform: translateY(-25%)

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      @include respond-to-max(mobile) {
        height: 165px;
      }

      &.hide-on-desktop {
        @extend %hideOnDesktop;
      }
      &.hide-on-tablet {
        @extend %hideOnTablet;
      }
      &.hide-on-mobile {
        @extend %hideOnMobile;
      }
    }

    .search-result-content-wrapper {
      float: left;
      width: auto;
      max-width: 73%;
      margin-left: 2%;

      @include respond-to-max(desktop) {
        float: none;
        max-width: 100%;
        margin-left: 0;
      }

      a {

        h3 {
          margin-top: 0;
          margin-bottom: 10px;

          color: $green-medium-100;
          font-size: 26px;
          font-weight: 600;

          transition: color 0.3s ease-in-out;

          text-decoration: none;

          @include respond-to(desktop) {
            font-size: 30px;
          }

          &:hover {
            color: $green-pale-100;
          }
        }

        &.hide-on-tablet {
          @extend %hideOnTablet;
        }
        &.hide-on-mobile {
          @extend %hideOnMobile;
        }

      }

      p {
        margin-bottom: 0;
      }

      &.hide-on-desktop {
        @extend %hideOnDesktop;
      }
    }

    &:last-of-type {
      border-bottom: 0;
    }

    &:first-of-type {
      @include respond-to-max(desktop) {
        margin-top: -20px;
      }
    }
  }

  .torque-pagination {
    margin-top: 35px;
    text-align: center;

    button {
      &:after {
        background-color: $white;
      }
    }
  }
}
