.careers-list-simple-wrapper {

    background-color: $green-medium-100;

    text-align: center;

    padding: 25px $bodyPadding1;
  
    @include respond-to(tablet) {
      padding: 40px $bodyPadding1;
    }
  
    @include respond-to(desktop) {
      padding: 60px $bodyPadding2;
    }

    h3 {
        color: $white;

        margin: 0;
        margin-bottom: 15px;

        @include respond-to(tablet) {
            margin-bottom: 30px;
        }
    }

    ul.loop-career {

        li {
            margin: 25px auto;

            a {
                font-size: 1.1em;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 0.15px;
            }
        }
    }

    button {
        margin-top: 5px;

        &:after {
            background-color: $green-medium-100;
        }
    }
}