.content-section {
  background-color: $white;

  position: relative;

  .content-section-image-size {
    @extend %imageSize;

    @include respond-to-max(tablet) {
      /* adding-bottom: 56%; */
    }

    &.reduced-height {
      @extend %imageSizeHalf;
    }

    .content-section-image {
      @extend %imageInner;

      &.background-image-cover {
        background-size: cover;
      }
      &.background-image-contain {
        background-size: contain;
      }
      &.background-image-auto {
        background-size: auto;
        @include respond-to-max(tablet) {
          background-size: contain !important;
        }
      }
    }
  }

  .content-wrapper {
    @extend %text_block_next_to_image;

    h3 {
      margin: 0;
      margin-bottom: 10px;
    }

    .content {
      margin-bottom: 10px;

      line-height: 1.5;
    }

    button {
      &:after {
        background: $white;
      }
    }
  }

  &.align-left {
    .content-wrapper {
      left: 0;
    }
  }

  &.top-bottom-padding {
    padding: 25px 0;
  }
}

@include respond-to(tablet) {
  .content-section.align-left {
    .content-section-image-size {
      .content-section-image {
        margin-left: 42.5%;
        width: 57.5%;
      }
    }
  }

  .content-section.align-right {
    .content-section-image-size {
      .content-section-image {
        width: 57.5%;
      }
    }
  }
}