.content-section-three {
  position: relative;
  overflow-x: hidden; 
  padding: 25px 0 0;

  @include respond-to-max(tablet) {
    padding-top: 0;
    margin-top: -5px; // hack to hide white-space below video just in-case this content block follows a video block...
  }

  .content-container {
    position: relative;

    .content-section-image-size {
      @extend %imageSize;
  
      @include respond-to-max(tablet) {
        padding-bottom: 56%;
      }
  
      .content-section-image {
        @extend %imageInner;
      }

      .image-caption {
        @extend %contentSectionImageCaptionMobileDisplay;
      }
    }
  
    .content-wrapper {
      @extend %text_block_next_to_image;

      background: $white;
      
      &.hide-on-desktop {
        @extend %hideOnDesktop;
      }
      &.hide-on-tablet {
        @extend %hideOnTablet;
      }
      &.hide-on-mobile {
        @extend %hideOnMobile;
      }

      .bg-quotation-mark-top {
        @extend %useBackgroundQuotationMarks_Top_GreenPale;
      }

      .bg-quotation-mark-bottom {
        @extend %useBackgroundQuotationMarks_Bottom_GreenPale;
      }
  
      h3 {
        font-size: 2.5em;
        margin: 0;
        margin-bottom: 10px;
        z-index: 10;
      }
    }
  }

  .cta-wrapper {
    position: relative;
    width: auto;
    padding: 50px 0 90px;
    text-align: center;
    background: $white;

    @include respond-to(tablet) {
      text-align: left;
      margin-left: 7vw;
    }
      
    &.hide-on-desktop {
      @extend %hideOnDesktop;
    }
    &.hide-on-tablet {
      @extend %hideOnTablet;
    }
    &.hide-on-mobile {
      @extend %hideOnMobile;
    }

    .content {
      font-size: 1.5em;
      margin-bottom: 10px;
      line-height: 1.5;
    }

    button {
      &:after {
        background: $white;
      }
    }
  }

  .image-caption {
    @extend %contentSectionImageCaption;
  }

  &.align-left {
    .content-wrapper {
      left: 0;
    }
    .cta-wrapper {
      @include respond-to(tablet) {
        text-align: left;
        margin-left: 50%;
      }
    }
    .image-caption {
      @extend %contentSectionImageCaptionAlignLeft;
    }
  }

  &.background-green {
    background: $green-less-pale-100;
    
    .content-wrapper {
      background: $green-less-pale-100;

      .bg-quotation-mark-top {
        @extend %useBackgroundQuotationMarks_Top_White;
      }

      .bg-quotation-mark-bottom {
        @extend %useBackgroundQuotationMarks_Bottom_White;
      }
    }
    .cta-wrapper {
      background: $green-less-pale-100;
      
      button {
        &:after {
          background: $green-less-pale-100;
        }
      }
    }
  }
}

@include respond-to(tablet) {
  .content-section.left {
    .content-section-image-size {
      .content-section-image {
        margin-left: 42.5%;
        width: 57.5%;
      }
    }
  }

  .content-section.right {
    .content-section-image-size {
      .content-section-image {
        width: 57.5%;
      }
    }
  }
}