.cta-section-container {

  background-color: $green-pale-100;
  
  .cta-section {
    padding: 50px $bodyPadding1;

    text-align: center;

    &.align-background-graphic-right {
      @extend %useBackgroundGraphicRight;
    }
    &.align-background-graphic-left {
      @extend %useBackgroundGraphicLeft;
    }

    @include respond-to(tablet) {
      padding: 85px $bodyPadding1 90px;
    }

    @include respond-to(desktop) {
      padding: 100px $bodyPadding2;
    }

    h3 {
      margin: 0;
      margin-bottom: 10px;

      font-weight: 600;

      @include respond-to(desktop) {
        margin-bottom: 20px;
      }
    }

    .content {
      margin-bottom: 10px;

      line-height: 1.5;

      @include respond-to(desktop) {
        margin-bottom: 20px;
      }
    }

    button {
      &:after {
        background: $green-less-pale-100;
      }
    }
  }
}
