.image-gallery-section-container {
    width: 100%;
    max-width: 100%;

    background-color: $grey-very-very-light;

    padding: 25px 0;
    
    @include respond-to(tablet) {
        padding: 55px 0 50px;
    }

    @include respond-to(desktop) {
        padding: 75px 0;
    }

    .image-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .image-item {
            width: 20%;
            max-width: 100%;
            padding: 0.5%;

            @include respond-to-max(tablet) {
                width: 40%;
                padding: 0.5%;
            }

            img {
                width: 100%;
                height: 100%;
            }

            h4 {
                color: $green-medium-100;
                text-align: center;
                text-transform: uppercase;    
                font-size: 0.88em;
                line-height: 0.8;
            }
        }
    }
}