footer {
  //@extend %useSideGraphic;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 35px $bodyPadding2 10px;
  box-sizing: border-box;

  background-color: $grey-blue-100;
  color: $white;

  @include respond-to(tablet) {
    padding: 40px $bodyPadding1 20px;
    justify-content: space-between;
  }

  @include respond-to(desktop) {
    padding: 60px $bodyPadding1;
  }

  .footer-block {
    margin-bottom: 20px;
    width: 100%;

    font-weight: 300;
    text-align: center;

    @include respond-to(tablet) {
      margin-bottom: 50px;
      flex: 1 1 33%;

      text-align: left;
    }

    @include respond-to(desktop) {
      flex-basis: 25%;
    }

    &.footer-logo {
      box-sizing: border-box;

      @include respond-to(tablet) {
        padding-right: 50px;
      }

      @include respond-to(desktop) {
        flex-basis: 25%;
      }

      img {
        width: 100%;
        max-width: 200px;
        height: auto;
        object-fit: contain;

        @include respond-to(tablet) {
          max-width: 130px;
        }

        @include respond-to(desktop) {
          padding-right: 50px;
          max-width: 250px;
        }
      }
    }

    .footer-block-title {
      font-size: inherit;
      font-weight: 400;
      margin-top: 5px;
      text-transform: uppercase;
      color: $green-pale-100;
    }

    .contact-details {
      line-height: 1.5;
      margin-top: 0;

      .address {
        margin-bottom: 15px;
      }
    }

    .torque-menu-items-stacked .torque-menu-item-wrapper {
      padding: 8px 0;

      font-weight: 400;
      color: $green-pale-100;

      text-transform: uppercase;
      text-decoration: underline;
    }

    .social-media {
      margin-top: 18px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          font-size: 1.5rem;
          margin: 0 0.4rem 0.4rem;

          a {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            color: $white;
            display: inline-block;
            height: 32px;
            line-height: 32px;
            text-align: center;
            transition: 0.2s;
            width: 32px;
            margin-right: 8px;

            &.social-icon-twitter {
              background-image: url("../statics/images/social-icons/twitter-logo@2x.png");
            }
            &.social-icon-linkedin {
              background-image: url("../statics/images/social-icons/linkedin-logo-1@2x.png");
            }
            &.social-icon-instagram {
              background-image: url("../statics/images/social-icons/instagram-logo@2x.png");
            }
            &.social-icon-facebook {
              background-image: url("../statics/images/social-icons/facebook-logo@2x.png");
            }

            span {
              &.hidden {
                display: none;
              }
            }

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  .footer-copyright {
    color: $white-60;

    width: 100%;

    font-size: 12px;
    font-weight: 300;
    text-align: center;

    padding-top: 10px;

    border-top: 1px solid $green-pale-80;

    @include respond-to(tablet) {
      text-align: left;
    }
  }

  .back-to-top-container {
    background: $green-pale-80;
    bottom: -50px;
    cursor: pointer;
    opacity: 0;
    padding: 8px 11px;
    position: fixed;
    right: 15px;
    transition: 0.2s;
    z-index: 9999;

    &.show-btn {
      bottom: 15px;
      opacity: 1;
      transition: 0.2s;
    }
    .back-to-top-btn {
      color: $grey-blue-100;
    }
  }
}
