.page-intro {
  padding: 25px $bodyPadding1;

  @include respond-to(tablet) {
    padding: 55px $bodyPadding1;
  }

  @include respond-to(desktop) {
    padding: 90px $bodyPadding2;
  }

  @extend %useAlignmentStyle;

  @extend %useColorComboStyle;

  &.align-center {
    .page-intro-intro {
      @extend %useCentredIntroParagraphs;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 15px;

    text-transform: uppercase;

    @include respond-to(tablet) {
      margin-bottom: 30px;
    }
  }

  .page-intro-intro {
    line-height: 1.75;
  }

  &.type-none,
  &.type- {
    padding: 0;
  }
}
